<h1>This is going to be the about page</h1>
<p>I am making this web application to learn and test my own abilities. <br>
Eventually I will make this into a working web application for a <br>
completely different purpose.</p>
<%= link_to image_tag("goodimage.png", size:"500px"), root_path %>
<p>click the image above to go back</p>
