<h1>Home Page</h1>
<p>Hello, and welcome to the home page of our alpha blogger</p>
<p>I won't put too much into this right now, but just know I could if I wanted to</p>

<%= image_tag 'trace image.jpg' %>
<br>
<%= link_to 'About this site', about_path %>
